.restaurantName {
  margin: 5rem 0rem;
  padding-top: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 2px dotted black;
}
.tabs {
  text-align: center;
  height: 5rem;
}
